<!DOCTYPE html>
<html>
    <body>
        {% block body %}{% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js" 
integrity="sha256-hk2Q9BXDSq54aGHbj6/T9up41uNJ5tLQw49s0HqWfPw=" crossorigin="anonymous"></script>
    </body>
</html>