{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block main %}
<div class="new">
    <h1 class="title">Faire une réservation</h1>

    {{ include('calendar/_form.html.twig') }}

</div>
{% endblock %}