{% include 'base.html.twig' %}

{% block body %}

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Liste des genres</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
                <tr>
                    <td>
                        {{ genre.name }}
                        <a href="{{ path('edit_genre', { 'id': genre.id }) }}">Modifier</a>
                        <a href="{{ path('delete_genre', { 'id': genre.id }) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}