{% extends 'base.html.twig' %}

{% block main %}
<div class="mentionSpacing">
<h1 class="top title">Mentions légales</h1>

<h2 class="title top">Responsable du site web</h2>

<pre class="textStyle">
Select'eat
27 Rue du Parlement Saint-Pierre
05.97.26.50.38
selecteat@gmail.com
</pre>

<h2 class=" title">Collecte et utilisation des données personnelles</h2>

<h3 class=" title">Finalité de la collecte : </h3>

<pre class=" textStyle">
Les données personnelles collectées sur ce site sont 
utilisées dans le but de : 

-Gérer les réservations et les commandes des clients.
-Envoyer des communications marketing et des offres 
promotionnelles, avec le consentement préalable des 
utilisateurs.

-Améliorer l'expérience utilisateur du site web

</pre>

<h3 class=" title">Données collectées</h3>

<pre class="textStyle">
Les types de données personnelles collectées peuvent 
inclure : 

-Nom, prénom, adresse e-mail, numéro de téléphone.
-Informations de paiement.
-Données de navigation, telles que l'adresse IP, les
cookies, les pages visitées.
</pre>

<h3 class=" title">Destinataires des données</h3>

<pre class="textStyle">
Les données collectées sont à l'usage exclusif
de Select'Eat et ne seront pas partagées avec des tiers
sans consentement préalable, sauf obligation légale.
</pre>

<h2 class="title">Cookies</h2>

<h3 class="title">Utilisation des cookies</h3>

<pre class="textStyle">
Ce site web utilise des cookies pour : 

-Analyser le trafic et les performances du site.
-Personnaliser l'expérience utilisateur.
-Fournir des fonctionnalités de médias sociaux.

</pre>

<h3 class="title">Gestion des cookies</h3>

<pre class="textStyle">
Les utilisateurs ont la possibilité de configurer leurs
préférences en matière de cookies à tout moment via 
les paramètres de leur navigateur.
</pre>

<h2 class="title">Droits des utilisateurs </h2>

<pre class="textStyle"> 
Les utilisateurs disposent des droits suivants concernant
leurs données personnelles :

Droit d'accès : Possibilité d'accéder à leurs données 
personnelles et d'obtenir des informations sur leur
traitement.
Droit de rectification : Possibilité de demander la correction
de données inexactes ou incomplètes.
Droit de suppression : Possibilité de demander la 
suppression de leurs données personnelles, sous réserve de 
certaines exceptions.

Pour exercer ces droits ou pour toute question concernant la 
collecte et l'utilisation des données personnelles, les
utilisateurs peuvent nous contacter via les coordonnées 
</pre>

<h2 class="title">Hébergeur du site web </h2>

<pre class="bottom textStyle">
Ce site web est hébergé par :

Planet Hoster
4416 Rue Louis-B.-Mayer, Laval, QC H7P 0G1, Canada
+33 1 76 60 41 43
</pre>
</div>

{% endblock %}