{% extends 'base.html.twig' %}

{% block main %}

<h1 class="storyTitle center title">Notre Histoire</h1>
<section class="top">
    <div class="homeSection storyMid">
        <div class="borderText">
            <h2 class="title">L'origine du concept</h2>
            <p class="textStyle">
                Select’eat est né de notre passion pour les expériences culinaires uniques. Tout a commencé avec une idée simple : concevoir des plats sur mesure gastronomiques et de bonne qualité. En tant qu'amateurs de bonne cuisine, nous avons toujours révê d'un lieu où chaque repas serait une aventure personnalisée, permettant à chacun de créer son propre menu à partir d'ingrédients frais et de qualité. Cette vision a donné naissance à Select’eat, un restaurant bistronomique où la personnalisation et l'excellence culinaire sont au coeur de notre offre.

                Nos valeurs fondamentales

                Chez Select’eat, nous nous appuyons sur des valeurs solides qui guident chacune de nos actions :

                - Qualité : Nous utilisons uniquement des ingrédients de premier choix, sélectionnés pour leur fraicheur, leur saveur et leur respect des saisons. Chaque plat que nous servons est le résultat d'une sélection rigoureuse de produits locaux et de saison, garantissant ainsi une expérience culinaire exceptionnelle.

                - Personnalisation : Nous croyons en l'importance de satisfaire chaque client en offrant des plats faits sur mesure. Chez Select’eat, chaque repas est une occasion de créer une expérience unique, adaptée aux goûts et aux préférences de chacun. Vous avez la liberté de choisir vos ingrédients et de personnaliser vos plats selon vos envies.
            </p>
        </div>
        <div class="borderImg">
            <img src="{{ asset('/img/chef.png') }}" alt="Logo Instagram" class="">
        </div>
    </div>
</section>

<section>
    <div class="homeSection storyBorder">
        <img src="{{ asset('/img/platremovebg.png') }}" alt="Logo Instagram" class="">
        <div class="midText">
            <h2 class="title">Nos plats</h2>
            <p class="textStyle">
                - Durabilité : Nous soutenons les pratiques agricoles durables, privilégions les circuits courts et cherchons à minimiser notre impact sur l'environnement. Notre engagement envers la durabilité se reflète dans chaque aspect de notre restaurant, des ingrédients que nous utilisons aux pratiques de gestion de notre établissement.

                Notre engagement envers vous

                Nous nous efforçons de vous offrir une expérience culinaire mémorable à chaque visite. De la sélection des ingrédients à la création de chaque plat, votre satisfaction est notre priorité. Notre équipe dévouée s'assure que chaque détail est pris en compte pour que vous puissiez profiter d'un repas exceptionnel. Nous nous engageons à vous offrir une cuisine de qualité supérieure, un service attentionné et une ambiance accueillante.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="homeSection storyMid">
        <div class="borderText">
            <h2 class="title">Nos desserts</h2>
            <p class="textStyle">
                Rejoignez-nous dans cette aventure culinaire

                Nous sommes ravis de vous accueillir chez Select’eat et de partager notre univers culinaire unique avec vous. Venez découvrir une cuisine où personnalisation et qualité sont au coeur de chaque assiette. Que vous soyez un amateur de gastronomie à la recherche de nouvelles expériences ou simplement en quête d'un repas sain et savoureux, Select’eat est l'endroit idéal pour satisfaire vos envies culinaires.

                Bienvenue chez Select’eat !
            </p>
        </div>
        <img src="{{ asset('/img/dessertremovebg.png') }}" alt="Logo Instagram" class="">
    </div>
</section>

{% endblock %}