{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}

<nav class="mealNav new">
    <div class="top">
        <a href={{ path('app_recipes_day') }} class="button"> Nos commandes <a>
        <a href={{ path('app_calendar_index') }} class="button"> Le calendrier <a>
    </div>
     <div class="top">
        <a href={{ path('app_genre') }} class="button">Créer des genres  <a>
        <a href={{ path('app_ingredients') }} class="button"> Créer des ingrédients <a>
    </div>
</nav>
{% endblock %}